* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.header {
  align-items: center;
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  margin: 0 auto;
}

.logoheader {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  height: 24px;
  width: 115px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 156px;
}

.logo-web {
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.nav-text {
  margin-left: 76px;
  width: 261px;
  height: 24px;
}

.nav-text a {
  color: #2e2f42;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
}

.nav-text ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px;
}

.nav-text a:hover {
  color: #4d5ae5;
}

.address-text a {
  color: #434455;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.address-text {
  display: flex;
  gap: 40px;
  list-style: none;
  padding-left: 336px;
  margin: 0;
  line-height: 4.5px;
  font-weight: 1440px;
}

.address-text a:hover {
  color: #4d5ae5;
}

a {
  text-decoration: none;
}

.id-section {
  background-image: url("office.jpg");
  filter: #2E2F42B2(70%);
  text-align: center;
  margin: 0 auto;
  padding-top: 188px;
  padding-left: 472px;
  padding-right: 472px;
  background-color: rgba(46, 47, 66, 0.7);
  background-blend-mode: multiply
}

.page-title {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  text-align: center;
  width: 496px;
}

.link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: #4d5ae5;
  color: #ffffff;
  width: 169px;
  height: 56px;
  margin-top: 48px;
  margin-left: 164px;
  margin-right: 163px;
  margin-bottom: 188px;
}

.link:hover,
.link:focus {
  background-color: #4d5ae5;
}

.link:active {
  background-color: #4d5ae5;
}

.categories {
  padding: 120px 0;

  display: flex;
  justify-content: space-between;
  text-align: left;
}

.cat_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 264px;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
}

.section-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
}

.title {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.our-team-section {
  background-color: #f4f4fd;
  padding: 120px 156px;
  box-sizing: border-box;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
  max-width: 1128px;
  margin: 0 auto;
}

.name-title {
  padding: 32px 16px;
}

.name-list {
  gap: 8px;
}

.team-list li {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.team-list li img {
  width: 100%;
  object-fit: cover;
}

section ul {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1128px;
  text-align: center;
}

.our-portfolio {
  padding: 120px 0;
}

.our-portfolio ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 0 auto;
  max-width: 1128px;
}

.our-portfolio li {
  width: 360px;
  background-color: #ffffff;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  object-fit: cover;
}

.our-portfolio li img {
  display: block;
  border-bottom: none;
}

.port-card {
  width: 320px;
  height: 120px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

section ul li {
  flex: 1;
  text-align: left;
}

.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 156px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.page-footer a {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
}

.page-footer-p {
  font-family: "Roboto", sans-serif;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 264px;
  height: 72px;
}

.logo-web-footer {
  color: #4d5ae5;
}

.logo-studio-footer {
  color: #f4f4fd;
}

ul {
  list-style: none;
}
.social-container {
  display: flex;
  gap: 15px;
}

.icon {
  width: 40px;
  height: 40px;
  background: #4d5ae5;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  transition: 0.3s;
  text-decoration: none;
}

.icon:hover {
  background: #005fcc;
  transform: translateY(-3px);
}

.img-wrapper {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.project-card {
  position: absolute;
  width: 296px;
  height: 96px;
  top: 40px;
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin-left: 32px;
  margin-right: 32px;
  border-radius: 6px;
}

.social-title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #f4f4fd;
  margin: 0;
}

.social-container {
  display: flex;
  gap: 24px;
  padding-top: 8px;
}

.social-links {
  display: flex;
  gap: 16px;
  padding-top: 24px;
}

.div-footer {
  display: flex;
  gap: 120px;
}
